@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: #0d062a;
  /* color-scheme: white; */
  margin: 0;
  padding: 0;
}
.skills-card {
  overflow: hidden;
}

.skills-card:hover .image-card {
  scale: 1.2;
  transition: 0.4s ease-in-out;
}
.heroHeadText {
  @apply font-black text-white lg:text-[80px] sm:text-[60px] xs:text-[50px] text-[40px] lg:leading-[98px] mt-2;
}
.heroSubText {
  @apply font-medium lg:text-[30px] sm:text-[26px] xs:text-[20px] text-[16px] lg:leading-[40px];
}

.sectionHeadText {
  @apply font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px];
}
.sectionSubText {
  @apply sm:text-[18px] text-[14px]  uppercase tracking-wider;
}
.paddingNav {
  padding-left: 15%;
  padding-right: 15%;
}
.padding {
  padding-left: 17%;
  padding-right: 17%;
}

@media screen and (max-width: 1200px) {
  .padding {
    padding-left: 15%;
    padding-right: 15%;
  }

  .paddingNav {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 900px) {
  .padding,
  .paddingNav {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .padding,
  .paddingNav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .padding,
  .paddingNav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}
.blob {
  background-image: url(../public/me.jpg);
  width: 380px;
  height: 380px;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center center;
  margin: 20px;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.height-bg {
  height: 100vh;
  padding-bottom: 3rem;
}
.swiper-pagination {
  background-color: #fff; /* Set the background color to white */
  opacity: 0.5; /* Adjust opacity as needed */
}

@media screen and (max-height: 700px) {
  .height-bg {
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .blob {
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 390px) {
  .blob {
    width: 220px;
    height: 220px;
  }
}
@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}
