@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: #0d062a;
  /* color-scheme: white; */
  margin: 0;
  padding: 0;
}

.padding {
  padding-left: 15%;
  padding-right: 15%;
}

@media screen and (max-width: 1200px) {
  .padding {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 900px) {
  .padding {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
